body {
  background-color: darkgray;
  font-family: monospace;
  text-align: center;
  margin-top: 60px;
  margin-left: 150px;
  /* background-image: url(../img/bwfractal.jpg); */
}

h1 {
  font-size: 450%;
  color: lightpink;
  margin-bottom: 60px;
  font-weight: bold;
}

h2 {
  font-size: 150%;
  color: gold;
}

h2:after {
  content: ' \262F';
}

button {
  margin-top: 45px;
  background: rosybrown;
  color: lemonchiffon;
  border-radius: 6px;
  border: 3px solid lemonchiffon;
}

button:hover {
  cursor: pointer;
}

.well {
  color: azure;
  font-size: 140%;
}

#sidebar {
  height: 100%;
  width: 150px;
  position: fixed;
  z-index: 1;
  background-color: black;
  top: 0;
  left: 0;
}

#prism {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 25px;
  display: 10%;
}

img {
  width: 70%;
  height: auto;
}

.output {
  display: none;
  margin-left: 150px;
  margin-right: 150px;
}

#output1 {
  display: none;
}

#output2 {
  display: none;
}

#output3 {
  display: none;
}
