body {
  background-color: darkgray;
  font-family: monospace;
  text-align: center;
  margin-top: 60px;
}

h1 {
  font-size: 450%;
  color: pink;
  margin-bottom: 20px;
  font-weight: bold;
}

h2 {
  font-size: 150%;
  color: gold;
}

h2:after {
  content: ' \262F';
}

button {
  margin-top: 45px;
  margin-bottom: 45px;
  background: rosybrown;
  color: lemonchiffon;
  border-radius: 6px;
  border: 3px solid lemonchiffon;
}

button:hover {
  cursor: pointer;
}

.well {
  color: azure;
  font-size: 140%;
}

img {
  width: 20%;
  max-width: 30%;
  height: auto;
  margin-bottom: 60px;
}

.output {
  display: none;
  margin-left: 150px;
  margin-right: 150px;
}

#output1 {
  display: none;
}

#output2 {
  display: none;
}

#output3 {
  display: none;
}

#output4 {
  display: none;
}
