body {
  background-color: darkgray;
  font-family: monospace;
  text-align: center;
  margin-top: 80px;
  /* background-image: url(../img/bwfractal.jpg); */
}

h1 {
  font-size: 450%;
  color: lightpink;
  margin-bottom: 60px;
  font-weight: bold;
}

h2 {
  font-size: 150%;
  color: gold;
}

button {
  margin-top: 25px;
}

button:hover {
  cursor: pointer;
}

.well {
  color: azure;
  font-size: 140%;
}

.output {
  display: none;
  margin-left: 90px;
  margin-right: 90px;
}

#output1 {
  display: none;
}

#output2 {
  display: none;
}

#output3 {
  display: none;
}
